In [ ]:
#Install requirements
import pandas as pd
import numpy as np

In [ ]:
#Upload the dataset
from google.colab import files
uploaded = files.upload()

Saving Bitcoin.csv to Bitcoin.csv

In [ ]:
#Put data in variable
bc = pd.read_csv('Bitcoin.csv',sep=';')

In [ ]:
#Get fist 15 rows
bc.head(15)
#bc["Price"] = 0.1 * bc["Price"]

    Sno        Date  Price  Open  ...  Change %  Google  Fear_greed_ratio  Fear_greed
0     1  2010-07-18    0.1   0.0  ...       0.0     1.0               NaN         NaN
1     2  2010-07-19    0.1   0.1  ...       0.0     1.0               NaN         NaN
2     3  2010-07-20    0.1   0.1  ...       0.0     1.0               NaN         NaN
3     4  2010-07-21    0.1   0.1  ...       0.0     1.0               NaN         NaN
4     5  2010-07-22    0.1   0.1  ...       0.0     1.0               NaN         NaN
5     6  2010-07-23    0.1   0.1  ...       0.0     1.0               NaN         NaN
6     7  2010-07-24    0.1   0.1  ...       0.0     1.0               NaN         NaN
7     8  2010-07-25    0.1   0.1  ...       0.0     1.0               NaN         NaN
8     9  2010-07-26    0.1   0.1  ...       0.0     1.0               NaN         NaN
9    10  2010-07-27    0.1   0.1  ...       0.0     1.0               NaN         NaN
10   11  2010-07-28    0.1   0.1  ...       0.0     1.0               NaN         NaN
11   12  2010-07-29    0.1   0.1  ...       0.0     1.0               NaN         NaN
12   13  2010-07-30    0.1   0.1  ...       0.0     1.0               NaN         NaN
13   14  2010-07-31    0.1   0.1  ...       0.0     1.0               NaN         NaN
14   15  2010-08-01    0.1   0.1  ...       0.0     1.0               NaN         NaN

[15 rows x 11 columns]

In [ ]:
#Putting the 5 periods in a different variable
daily_period = 1
weekly_period = 7
monthly_period = 30
yearly_period = 365
two_yearly_period = 730

In [ ]:
#Make extra tables with price values shifted up n amount
bc['Daily_difference'] = bc[['Price']].shift(-daily_period)
bc['Weekly_difference'] = bc[['Price']].shift(-weekly_period)
bc['Monthly_difference'] = bc[['Price']].shift(-monthly_period)
bc['Yearly_difference'] = bc[['Price']].shift(-yearly_period)
bc['Two_yearly_difference'] = bc[['Price']].shift(-two_yearly_period)

In [ ]:
#Get last 32 rows
bc.tail(100)

       Sno        Date  ...  Yearly_difference  Two_yearly_difference
4061  4062  2021-08-30  ...                NaN                    NaN
4062  4063  2021-08-31  ...                NaN                    NaN
4063  4064  2021-09-01  ...                NaN                    NaN
4064  4065  2021-09-02  ...                NaN                    NaN
4065  4066  2021-09-03  ...                NaN                    NaN
...    ...         ...  ...                ...                    ...
4156  4157  2021-12-03  ...                NaN                    NaN
4157  4158  2021-12-04  ...                NaN                    NaN
4158  4159  2021-12-05  ...                NaN                    NaN
4159  4160  2021-12-06  ...                NaN                    NaN
4160  4161  2021-12-07  ...                NaN                    NaN

[100 rows x 16 columns]

In [ ]:
#Add extra empty tables
bc.insert(8, "Daily", "")
bc.insert(10, "Weekly", "")#
bc.insert(12, "Monthly", "")
bc.insert(14, "Yearly", "")
bc.insert(16, "Two_yearly", "")
bc.insert(6, "Google_ranges", "")

In [ ]:
#Loop that puts a 1 in the empty table if price has increased or stayed the same after an n period. In case of decrease, it puts a 0
n = 0
for n in range(len(bc)):
  if bc['Daily_difference'].iloc[n]>=bc['Price'].iloc[n]:
    bc.iat[n, bc.columns.get_loc('Daily')] = 1
    
  else:
    bc.iat[n, bc.columns.get_loc('Daily')] = 0

In [ ]:
#Loop that puts a 1 in the empty table if price has increased or stayed the same after an n period. In case of decrease, it puts a 0
n = 0
for n in range(len(bc)):
  if bc['Weekly_difference'].iloc[n]>=bc['Price'].iloc[n]:
    bc.iat[n, bc.columns.get_loc('Weekly')] = 1
    
  else:
    bc.iat[n, bc.columns.get_loc('Weekly')] = 0

In [ ]:
#Loop that puts a 1 in the empty table if price has increased or stayed the same after an n period. In case of decrease, it puts a 0
n = 0
for n in range(len(bc)):
  if bc['Monthly_difference'].iloc[n]>=bc['Price'].iloc[n]:
    bc.iat[n, bc.columns.get_loc('Monthly')] = 1
    
  else:
    bc.iat[n, bc.columns.get_loc('Monthly')] = 0

In [ ]:
#Loop that puts a 1 in the empty table if price has increased or stayed the same after an n period. In case of decrease, it puts a 0
n = 0
for n in range(len(bc)):
  if bc['Yearly_difference'].iloc[n]>=bc['Price'].iloc[n]:
    bc.iat[n, bc.columns.get_loc('Yearly')] = 1
    
  else:
    bc.iat[n, bc.columns.get_loc('Yearly')] = 0

In [ ]:
#Loop that puts a 1 in the empty table if price has increased or stayed the same after an n period. In case of decrease, it puts a 0
n = 0
for n in range(len(bc)):
  if bc['Two_yearly_difference'].iloc[n]>=bc['Price'].iloc[n]:
    bc.iat[n, bc.columns.get_loc('Two_yearly')] = 1
    
  else:
    bc.iat[n, bc.columns.get_loc('Two_yearly')] = 0

In [ ]:
n = 0
for n in range(len(bc)):
  if bc['Google'].iloc[n]<=20:
    bc.iat[n, bc.columns.get_loc('Google_ranges')] = 1
  elif bc['Google'].iloc[n]<=40:
    bc.iat[n, bc.columns.get_loc('Google_ranges')] = 2
  elif bc['Google'].iloc[n]<=60:
    bc.iat[n, bc.columns.get_loc('Google_ranges')] = 3
  elif bc['Google'].iloc[n]<=80:
    bc.iat[n, bc.columns.get_loc('Google_ranges')] = 4
  else:
    bc.iat[n, bc.columns.get_loc('Google_ranges')] = 5

In [ ]:
test = bc.loc[bc['Fear_greed'] == 'Extreme Fear']

In [ ]:
for n in range(len(bc)):
  if bc['Google_ranges'].iloc[n]==1:
    if bc['Daily'].iloc[n]==1:
      total_increased1s +=1
    else:
      total_decreased1s += 1

In [ ]:
print(bc['Google_ranges'].value_counts())
print(test['Monthly'].value_counts())
print(bc['Fear_greed'].value_counts())

1    3332
2     393
3     180
5     136
4     120
Name: Google_ranges, dtype: int64
1    167
0    134
Name: Monthly, dtype: int64
Fear             450
Extreme Fear     301
Greed            261
Extreme Greed    172
Neutral          117
Name: Fear_greed, dtype: int64

In [ ]:
n = 0
total_increased1s = 0
total_decreased1s = 0
total_increased2s = 0
total_decreased2s = 0
total_increased3s = 0
total_decreased3s = 0
total_increased4s = 0
total_decreased4s = 0
total_increased5s = 0
total_decreased5s = 0

for n in range(len(bc)):
  if bc['Google_ranges'].iloc[n]==1:
    if bc['Daily'].iloc[n]==1:
      total_increased1s +=1
    else:
      total_decreased1s += 1
  elif bc['Google_ranges'].iloc[n]==2:
    if bc['Daily'].iloc[n]==1:
      total_increased2s +=1
    else:
      total_decreased2s += 1
  elif bc['Google_ranges'].iloc[n]==3:
    if bc['Daily'].iloc[n]==1:
      total_increased3s +=1
    else:
      total_decreased3s += 1
  elif bc['Google_ranges'].iloc[n]==4:
    if bc['Daily'].iloc[n]==1:
      total_increased4s +=1
    else:
      total_decreased4s += 1
  elif bc['Google_ranges'].iloc[n]==5:
    if bc['Daily'].iloc[n]==1:
      total_increased5s +=1
    else:
      total_decreased5s += 1


total1s = total_increased1s + total_decreased1s
total2s = total_increased2s + total_decreased2s
total3s = total_increased3s + total_decreased3s
total4s = total_increased4s + total_decreased4s
total5s = total_increased5s + total_decreased5s



percentage1s = (total_increased1s / total1s) 
percentage2s = (total_increased2s / total2s) 
percentage3s = (total_increased3s / total3s) 
percentage4s = (total_increased4s / total4s) 
percentage5s = (total_increased5s / total5s) 


print ("Probability of profit or break-even after 1 day with the google searches ratio between 0 and 20:","{:.2%}".format(percentage1s))
print ("Probability of profit or break-even after 1 day with the google searches ratio between 20 and 40:","{:.2%}".format(percentage2s))
print ("Probability of profit or break-even after 1 day with the google searches ratio between 40 and 60:","{:.2%}".format(percentage3s))
print ("Probability of profit or break-even after 1 day with the google searches ratio between 60 and 80:","{:.2%}".format(percentage4s))
print ("Probability of profit or break-even after 1 day with the google searches ratio between 80 and 100:","{:.2%}".format(percentage5s))

Probability of profit or break-even after 1 day with the google searches ratio between 0 and 20: 59.57%
Probability of profit or break-even after 1 day with the google searches ratio between 20 and 40: 55.22%
Probability of profit or break-even after 1 day with the google searches ratio between 40 and 60: 55.00%
Probability of profit or break-even after 1 day with the google searches ratio between 60 and 80: 45.83%
Probability of profit or break-even after 1 day with the google searches ratio between 80 and 100: 51.47%

In [ ]:
n = 0
total_increased1s = 0
total_decreased1s = 0
total_increased2s = 0
total_decreased2s = 0
total_increased3s = 0
total_decreased3s = 0
total_increased4s = 0
total_decreased4s = 0
total_increased5s = 0
total_decreased5s = 0
for n in range(len(bc)):
  if bc['Google_ranges'].iloc[n]==1:
    if bc['Weekly'].iloc[n]==1:
      total_increased1s +=1
    else:
      total_decreased1s += 1
  elif bc['Google_ranges'].iloc[n]==2:
    if bc['Weekly'].iloc[n]==1:
      total_increased2s +=1
    else:
      total_decreased2s += 1
  elif bc['Google_ranges'].iloc[n]==3:
    if bc['Weekly'].iloc[n]==1:
      total_increased3s +=1
    else:
      total_decreased3s += 1
  elif bc['Google_ranges'].iloc[n]==4:
    if bc['Weekly'].iloc[n]==1:
      total_increased4s +=1
    else:
      total_decreased4s += 1
  elif bc['Google_ranges'].iloc[n]==5:
    if bc['Weekly'].iloc[n]==1:
      total_increased5s +=1
    else:
      total_decreased5s += 1

total1s = total_increased1s + total_decreased1s
total2s = total_increased2s + total_decreased2s
total3s = total_increased3s + total_decreased3s
total4s = total_increased4s + total_decreased4s
total5s = total_increased5s + total_decreased5s
percentage1s = (total_increased1s / total1s) 
percentage2s = (total_increased2s / total2s) 
percentage3s = (total_increased3s / total3s)
percentage4s = (total_increased4s / total4s) 
percentage5s = (total_increased5s / total5s) 

print ("Probability of profit or break-even after 1 week with the google searches ratio between 0 and 20:","{:.2%}".format(percentage1s))
print ("Probability of profit or break-even after 1 week with the google searches ratio between 20 and 40:","{:.2%}".format(percentage2s))
print ("Probability of profit or break-even after 1 week with the google searches ratio between 40 and 60:","{:.2%}".format(percentage3s))
print ("Probability of profit or break-even after 1 week with the google searches ratio between 60 and 80:","{:.2%}".format(percentage4s))
print ("Probability of profit or break-even after 1 week with the google searches ratio between 80 and 100:","{:.2%}".format(percentage5s))

Probability of profit or break-even after 1 week with the google searches ratio between 0 and 20: 61.07%
Probability of profit or break-even after 1 week with the google searches ratio between 20 and 40: 59.80%
Probability of profit or break-even after 1 week with the google searches ratio between 40 and 60: 51.67%
Probability of profit or break-even after 1 week with the google searches ratio between 60 and 80: 44.17%
Probability of profit or break-even after 1 week with the google searches ratio between 80 and 100: 51.47%

In [ ]:
n = 0
total_increased1s = 0
total_decreased1s = 0
total_increased2s = 0
total_decreased2s = 0
total_increased3s = 0
total_decreased3s = 0
total_increased4s = 0
total_decreased4s = 0
total_increased5s = 0
total_decreased5s = 0
for n in range(len(bc)):
  if bc['Google_ranges'].iloc[n]==1:
    if bc['Monthly'].iloc[n]==1:
      total_increased1s +=1
    else:
      total_decreased1s += 1
  elif bc['Google_ranges'].iloc[n]==2:
    if bc['Monthly'].iloc[n]==1:
      total_increased2s +=1
    else:
      total_decreased2s += 1
  elif bc['Google_ranges'].iloc[n]==3:
    if bc['Monthly'].iloc[n]==1:
      total_increased3s +=1
    else:
      total_decreased3s += 1
  elif bc['Google_ranges'].iloc[n]==4:
    if bc['Monthly'].iloc[n]==1:
      total_increased4s +=1
    else:
      total_decreased4s += 1
  elif bc['Google_ranges'].iloc[n]==5:
    if bc['Monthly'].iloc[n]==1:
      total_increased5s +=1
    else:
      total_decreased5s += 1

total1s = total_increased1s + total_decreased1s
total2s = total_increased2s + total_decreased2s
total3s = total_increased3s + total_decreased3s
total4s = total_increased4s + total_decreased4s
total5s = total_increased5s + total_decreased5s
percentage1s = (total_increased1s / total1s) 
percentage2s = (total_increased2s / total2s) 
percentage3s = (total_increased3s / total3s) 
percentage4s = (total_increased4s / total4s) 
percentage5s = (total_increased5s / total5s) 

print ("Probability of profit or break-even after 1 month with the google searches ratio between 0 and 20:","{:.2%}".format(percentage1s))
print ("Probability of profit or break-even after 1 month with the google searches ratio between 20 and 40:","{:.2%}".format(percentage2s))
print ("Probability of profit or break-even after 1 month with the google searches ratio between 40 and 60:","{:.2%}".format(percentage3s))
print ("Probability of profit or break-even after 1 month with the google searches ratio between 60 and 80:","{:.2%}".format(percentage4s))
print ("Probability of profit or break-even after 1 month with the google searches ratio between 80 and 100:","{:.2%}".format(percentage5s))

Probability of profit or break-even after 1 month with the google searches ratio between 0 and 20: 62.36%
Probability of profit or break-even after 1 month with the google searches ratio between 20 and 40: 67.18%
Probability of profit or break-even after 1 month with the google searches ratio between 40 and 60: 40.00%
Probability of profit or break-even after 1 month with the google searches ratio between 60 and 80: 50.83%
Probability of profit or break-even after 1 month with the google searches ratio between 80 and 100: 36.76%

In [ ]:
n = 0
total_increased1s = 0
total_decreased1s = 0
total_increased2s = 0
total_decreased2s = 0
total_increased3s = 0
total_decreased3s = 0
total_increased4s = 0
total_decreased4s = 0
total_increased5s = 0
total_decreased5s = 0
for n in range(len(bc)):
  if bc['Google_ranges'].iloc[n]==1:
    if bc['Yearly'].iloc[n]==1:
      total_increased1s +=1
    else:
      total_decreased1s += 1
  elif bc['Google_ranges'].iloc[n]==2:
    if bc['Yearly'].iloc[n]==1:
      total_increased2s +=1
    else:
      total_decreased2s += 1
  elif bc['Google_ranges'].iloc[n]==3:
    if bc['Yearly'].iloc[n]==1:
      total_increased3s +=1
    else:
      total_decreased3s += 1
  elif bc['Google_ranges'].iloc[n]==4:
    if bc['Yearly'].iloc[n]==1:
      total_increased4s +=1
    else:
      total_decreased4s += 1
  elif bc['Google_ranges'].iloc[n]==5:
    if bc['Yearly'].iloc[n]==1:
      total_increased5s +=1
    else:
      total_decreased5s += 1

total1s = total_increased1s + total_decreased1s
total2s = total_increased2s + total_decreased2s
total3s = total_increased3s + total_decreased3s
total4s = total_increased4s + total_decreased4s
total5s = total_increased5s + total_decreased5s
percentage1s = (total_increased1s / total1s) 
percentage2s = (total_increased2s / total2s)
percentage3s = (total_increased3s / total3s) 
percentage4s = (total_increased4s / total4s)
percentage5s = (total_increased5s / total5s) 

print ("Probability of profit or break-even after 1 year with the google searches ratio between 0 and 20:","{:.2%}".format(percentage1s))
print ("Probability of profit or break-even after 1 year with the google searches ratio between 20 and 40:","{:.2%}".format(percentage2s))
print ("Probability of profit or break-even after 1 year with the google searches ratio between 40 and 60:","{:.2%}".format(percentage3s))
print ("Probability of profit or break-even after 1 year with the google searches ratio between 60 and 80:","{:.2%}".format(percentage4s))
print ("Probability of profit or break-even after 1 year with the google searches ratio between 80 and 100:","{:.2%}".format(percentage5s))

Probability of profit or break-even after 1 year with the google searches ratio between 0 and 20: 84.45%
Probability of profit or break-even after 1 year with the google searches ratio between 20 and 40: 61.07%
Probability of profit or break-even after 1 year with the google searches ratio between 40 and 60: 1.11%
Probability of profit or break-even after 1 year with the google searches ratio between 60 and 80: 18.33%
Probability of profit or break-even after 1 year with the google searches ratio between 80 and 100: 0.00%

In [ ]:
n = 0
total_increased1s = 0
total_decreased1s = 0
total_increased2s = 0
total_decreased2s = 0
total_increased3s = 0
total_decreased3s = 0
total_increased4s = 0
total_decreased4s = 0
total_increased5s = 0
total_decreased5s = 0
for n in range(len(bc)):
  if bc['Google_ranges'].iloc[n]==1:
    if bc['Two_yearly'].iloc[n]==1:
      total_increased1s +=1
    else:
      total_decreased1s += 1
  elif bc['Google_ranges'].iloc[n]==2:
    if bc['Two_yearly'].iloc[n]==1:
      total_increased2s +=1
    else:
      total_decreased2s += 1
  elif bc['Google_ranges'].iloc[n]==3:
    if bc['Two_yearly'].iloc[n]==1:
      total_increased3s +=1
    else:
      total_decreased3s += 1
  elif bc['Google_ranges'].iloc[n]==4:
    if bc['Two_yearly'].iloc[n]==1:
      total_increased4s +=1
    else:
      total_decreased4s += 1
  elif bc['Google_ranges'].iloc[n]==5:
    if bc['Two_yearly'].iloc[n]==1:
      total_increased5s +=1
    else:
      total_decreased5s += 1

total1s = total_increased1s + total_decreased1s
total2s = total_increased2s + total_decreased2s
total3s = total_increased3s + total_decreased3s
total4s = total_increased4s + total_decreased4s
total5s = total_increased5s + total_decreased5s
percentage1s = (total_increased1s / total1s) 
percentage2s = (total_increased2s / total2s) 
percentage3s = (total_increased3s / total3s) 
percentage4s = (total_increased4s / total4s) 
percentage5s = (total_increased5s / total5s) 

print ("Probability of profit or break-even after 2 years with the google searches ratio between 0 and 20:","{:.2%}".format(percentage1s))
print ("Probability of profit or break-even after 2 years with the google searches ratio between 20 and 40:","{:.2%}".format(percentage2s))
print ("Probability of profit or break-even after 2 years with the google searches ratio between 40 and 60:","{:.2%}".format(percentage3s))
print ("Probability of profit or break-even after 2 years with the google searches ratio between 60 and 80:","{:.2%}".format(percentage4s))
print ("Probability of profit or break-even after 2 years with the google searches ratio between 80 and 100:","{:.2%}".format(percentage5s))

Probability of profit or break-even after 2 years with the google searches ratio between 0 and 20: 85.41%
Probability of profit or break-even after 2 years with the google searches ratio between 20 and 40: 46.82%
Probability of profit or break-even after 2 years with the google searches ratio between 40 and 60: 18.33%
Probability of profit or break-even after 2 years with the google searches ratio between 60 and 80: 25.00%
Probability of profit or break-even after 2 years with the google searches ratio between 80 and 100: 0.00%

In [ ]:
#Get last 32 rows of dataset
bc.tail(32)

       Sno        Date  ...  Two_yearly  Two_yearly_difference
4129  4130  2021-11-06  ...           0                    NaN
4130  4131  2021-11-07  ...           0                    NaN
4131  4132  2021-11-08  ...           0                    NaN
4132  4133  2021-11-09  ...           0                    NaN
4133  4134  2021-11-10  ...           0                    NaN
4134  4135  2021-11-11  ...           0                    NaN
4135  4136  2021-11-12  ...           0                    NaN
4136  4137  2021-11-13  ...           0                    NaN
4137  4138  2021-11-14  ...           0                    NaN
4138  4139  2021-11-15  ...           0                    NaN
4139  4140  2021-11-16  ...           0                    NaN
4140  4141  2021-11-17  ...           0                    NaN
4141  4142  2021-11-18  ...           0                    NaN
4142  4143  2021-11-19  ...           0                    NaN
4143  4144  2021-11-20  ...           0                    NaN
4144  4145  2021-11-21  ...           0                    NaN
4145  4146  2021-11-22  ...           0                    NaN
4146  4147  2021-11-23  ...           0                    NaN
4147  4148  2021-11-24  ...           0                    NaN
4148  4149  2021-11-25  ...           0                    NaN
4149  4150  2021-11-26  ...           0                    NaN
4150  4151  2021-11-27  ...           0                    NaN
4151  4152  2021-11-28  ...           0                    NaN
4152  4153  2021-11-29  ...           0                    NaN
4153  4154  2021-11-30  ...           0                    NaN
4154  4155  2021-12-01  ...           0                    NaN
4155  4156  2021-12-02  ...           0                    NaN
4156  4157  2021-12-03  ...           0                    NaN
4157  4158  2021-12-04  ...           0                    NaN
4158  4159  2021-12-05  ...           0                    NaN
4159  4160  2021-12-06  ...           0                    NaN
4160  4161  2021-12-07  ...           0                    NaN

[32 rows x 19 columns]

In [ ]:
#Make last n amount of values empty because we can't see the price of the future
bc['Daily'].iloc[-daily_period:] =""
bc['Weekly'].iloc[-weekly_period:] =""
bc['Monthly'].iloc[-monthly_period:] =""
bc['Yearly'].iloc[-yearly_period:] =""
bc['Two_yearly'].iloc[-two_yearly_period:] =""

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
#Drop the differnce tables that we previously made
bc = bc.drop(['Daily_difference', 'Weekly_difference', 'Monthly_difference', 'Yearly_difference', 'Two_yearly_difference'], axis=1)

In [ ]:
#Get total counts of 1s and 0s for every time table
#This step is not necessary
daily_counts = bc['Daily'].value_counts()
weekly_counts = bc['Weekly'].value_counts()
monthly_counts = bc['Monthly'].value_counts()
yearly_counts = bc['Yearly'].value_counts()
two_yearly_counts = bc['Two_yearly'].value_counts()
print (daily_counts)
print (weekly_counts)
print (monthly_counts)
print (yearly_counts)
print (two_yearly_counts)

1    2426
0    1734
        1
Name: Daily, dtype: int64
1    2486
0    1668
        7
Name: Weekly, dtype: int64
1    2525
0    1606
       30
Name: Monthly, dtype: int64
1    3078
0     718
      365
Name: Yearly, dtype: int64
1    3093
      730
0     338
Name: Two_yearly, dtype: int64

In [ ]:
#Calculate revenue chance percentage for 1 day
daily_revenue_chance = (bc['Daily']==1).sum() / (bc['Daily'].count()-daily_period) 
daily_revenue_chance_percentage = "{:.2%}".format(daily_revenue_chance)
print("Kans op winst of break-even in 1 dag: ",daily_revenue_chance_percentage)

#Calculate revenue chance percentage for 1 week
weekly_revenue_chance = (bc['Weekly']==1).sum() / (bc['Weekly'].count()-weekly_period) 
weekly_revenue_chance_percentage = "{:.2%}".format(weekly_revenue_chance)
print("Kans op winst of break-even in 1 week: ",weekly_revenue_chance_percentage)

#Calculate revenue chance percentage for 1 month
monthly_revenue_chance = (bc['Monthly']==1).sum() / (bc['Monthly'].count()-monthly_period) 
monthly_revenue_chance_percentage = "{:.2%}".format(monthly_revenue_chance)
print("Kans op winst of break-even in 1 maand: ",monthly_revenue_chance_percentage)

#Calculate revenue chance percentage for 1 year
yearly_revenue_chance = (bc['Yearly']==1).sum() / (bc['Yearly'].count()-yearly_period) 
yearly_revenue_chance_percentage = "{:.2%}".format(yearly_revenue_chance)
print("Kans op winst of break-even in 1 jaar: ",yearly_revenue_chance_percentage)

#Calculate revenue chance percentage for 2 years
two_yearly_revenue_chance = (bc['Two_yearly']==1).sum() / (bc['Two_yearly'].count()-two_yearly_period) 
two_yearly_revenue_chance_percentage = "{:.2%}".format(two_yearly_revenue_chance)
print("Kans op winst of break-even in 2 jaar: ",two_yearly_revenue_chance_percentage)

Kans op winst of break-even in 1 dag:  58.32%
Kans op winst of break-even in 1 week:  59.85%
Kans op winst of break-even in 1 maand:  61.12%
Kans op winst of break-even in 1 jaar:  81.09%
Kans op winst of break-even in 2 jaar:  90.15%

In [ ]:
#Export new CSV file
bc.to_csv('BcTest.csv')

In [ ]:
#Download new CSV file
files.download('BcTest.csv')